@import "tailwindcss";

@theme {
  /* --- Tipografías --- */
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "DM Serif Display", ui-serif, Georgia, serif;

  /* --- Colores de Marca --- */
  --color-brand-dark: #111111;       /* Texto general */
  --color-brand-blue: #2c4c5c;       /* Botones, iconos */
  --color-brand-lilac: #e3d9e0;      /* Nube, blobs */
  --color-brand-turquoise: #8fa39d;  /* Blobs, cards */
  --color-brand-orange: #d8b1a2;     /* Blob naranja */
  --color-brand-rose: #d69c94;       /* Cards rojizas */
  --color-brand-beige: #f1dfb6;      /* Cards beige */
  --color-brand-lightblue: #d6e8f7;  /* Cards celeste */
}